$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?596714c67120cdc1927f12d1f6f2211b") format("truetype"),
url("./flaticon.woff?596714c67120cdc1927f12d1f6f2211b") format("woff"),
url("./flaticon.woff2?596714c67120cdc1927f12d1f6f2211b") format("woff2"),
url("./flaticon.eot?596714c67120cdc1927f12d1f6f2211b#iefix") format("embedded-opentype"),
url("./flaticon.svg?596714c67120cdc1927f12d1f6f2211b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "fast": "\f101",
    "delivery-courier": "\f102",
    "parcel": "\f103",
    "mail": "\f104",
    "placeholder": "\f105",
    "telephone-call": "\f106",
);

.flaticon-fast:before {
    content: map-get($flaticon-map, "fast");
}
.flaticon-delivery-courier:before {
    content: map-get($flaticon-map, "delivery-courier");
}
.flaticon-parcel:before {
    content: map-get($flaticon-map, "parcel");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-telephone-call:before {
    content: map-get($flaticon-map, "telephone-call");
}
